Package: lite-welcome
Version: 2.0-0090-linuxlite
Essential: yes
Section: base
Priority: required
Installed-Size: 1200
Depends: python-simplejson, libjs-jquery
Homepage: http://www.linuxliteos.com
Maintainer: Jerry Bezencon <valtam@linuxliteos.com>
Architecture: all
Description: Linux Lite Welcome Screen
 The Linux Lite Welcome Screen, launches upon the first boot
 of a new Linux Lite install.
